####### pin clock utama #######
NET "clk" LOC = P55; 
NET "clk" IOSTANDARD = LVCMOS33; 

####### pin I/O J7 #######
NET "j7_2_btn_4" LOC = P1; 
NET "j7_2_btn_4" IOSTANDARD = LVCMOS33; 
NET "j7_3_btn_3" LOC = P2; 
NET "j7_3_btn_3" IOSTANDARD = LVCMOS33; 
NET "j7_4_btn_2" LOC = P5; 
NET "j7_4_btn_2" IOSTANDARD = LVCMOS33; 
NET "j7_5_btn_1" LOC = P6; 
NET "j7_5_btn_1" IOSTANDARD = LVCMOS33; 
NET "j7_6" LOC = P7; 
NET "j7_6" IOSTANDARD = LVCMOS33; 
NET "j7_7" LOC = P8; 
NET "j7_7" IOSTANDARD = LVCMOS33; 
NET "j7_8" LOC = P9; 
NET "j7_8" IOSTANDARD = LVCMOS33; 
NET "j7_9_lcd_rs" LOC = P10; 
NET "j7_9" IOSTANDARD = LVCMOS33; 
NET "j7_10_lcd_rw" LOC = P11; 
NET "j7_10" IOSTANDARD = LVCMOS33; 
NET "j7_11_lcd_e" LOC = P12; 
NET "j7_11" IOSTANDARD = LVCMOS33; 
NET "j7_12_lcd_d0" LOC = P14; 
NET "j7_12" IOSTANDARD = LVCMOS33; 
NET "j7_13_lcd_d1" LOC = P15; 
NET "j7_13" IOSTANDARD = LVCMOS33; 
NET "j7_14_lcd_d2" LOC = P16; 
NET "j7_14" IOSTANDARD = LVCMOS33; 
NET "j7_15_lcd_d3" LOC = P17; 
NET "j7_15" IOSTANDARD = LVCMOS33; 
NET "j7_16_lcd_d4" LOC = P21; 
NET "j7_16" IOSTANDARD = LVCMOS33; 
NET "j7_17_lcd_d5" LOC = P22; 
NET "j7_17" IOSTANDARD = LVCMOS33; 
NET "j7_18_lcd_d6" LOC = P23; 
NET "j7_18" IOSTANDARD = LVCMOS33; 
NET "j7_19" LOC = P24; 
NET "j7_19" IOSTANDARD = LVCMOS33; 
NET "j7_20" LOC = P26; 
NET "j7_20" IOSTANDARD = LVCMOS33; 
NET "j7_23_lcd_d7" LOC = P27; 
NET "j7_23" IOSTANDARD = LVCMOS33; 
NET "j7_24" LOC = P29; 
NET "j7_24" IOSTANDARD = LVCMOS33; 
NET "j7_25" LOC = P30; 
NET "j7_25" IOSTANDARD = LVCMOS33; 
NET "j7_26" LOC = P32; 
NET "j7_26" IOSTANDARD = LVCMOS33; 
NET "j7_27" LOC = P33; 
NET "j7_27" IOSTANDARD = LVCMOS33; 
NET "j7_28" LOC = P34; 
NET "j7_28" IOSTANDARD = LVCMOS33; 
NET "j7_29" LOC = P35; 
NET "j7_29" IOSTANDARD = LVCMOS33; 
NET "j7_30" LOC = P40; 
NET "j7_30" IOSTANDARD = LVCMOS33; 
NET "j7_31" LOC = P41; 
NET "j7_31" IOSTANDARD = LVCMOS33; 
NET "j7_32" LOC = P43; 
NET "j7_32" IOSTANDARD = LVCMOS33; 
NET "j7_33" LOC = P44; 
NET "j7_33" IOSTANDARD = LVCMOS33; 
NET "j7_34" LOC = P45; 
NET "j7_34" IOSTANDARD = LVCMOS33; 
NET "j7_35" LOC = P46; 
NET "j7_35" IOSTANDARD = LVCMOS33; 
NET "j7_36_led_1" LOC = P47; 
NET "j7_36_led_1" IOSTANDARD = LVCMOS33; 
NET "j7_37_led_2" LOC = P48; 
NET "j7_37_led_2" IOSTANDARD = LVCMOS33; 
NET "j7_38_led_3" LOC = P50; 
NET "j7_38_led_3" IOSTANDARD = LVCMOS33; 
NET "j7_39_led_4" LOC = P51; 
NET "j7_39_led_4" IOSTANDARD = LVCMOS33; 

####### pin I/O J5 #######
NET "j5_2" LOC = P55; 
NET "j5_2" IOSTANDARD = LVCMOS33; 
NET "j5_" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33; 
NET "j5_1" LOC = P55; 
NET "j5_1" IOSTANDARD = LVCMOS33;

####### pin I/O sdram #######
# data input output
NET "sdram_dq0" LOC = P144; 
NET "sdram_dq0" IOSTANDARD = LVCMOS33; 
NET "sdram_dq1" LOC = P143; 
NET "sdram_dq1" IOSTANDARD = LVCMOS33; 
NET "sdram_dq2" LOC = P142; 
NET "sdram_dq2" IOSTANDARD = LVCMOS33; 
NET "sdram_dq3" LOC = P141; 
NET "sdram_dq3" IOSTANDARD = LVCMOS33; 
NET "sdram_dq4" LOC = P140; 
NET "sdram_dq4" IOSTANDARD = LVCMOS33; 
NET "sdram_dq5" LOC = P139; 
NET "sdram_dq5" IOSTANDARD = LVCMOS33; 
NET "sdram_dq6" LOC = P138; 
NET "sdram_dq6" IOSTANDARD = LVCMOS33; 
NET "sdram_dq7" LOC = P137; 
NET "sdram_dq7" IOSTANDARD = LVCMOS33; 
NET "sdram_dq8" LOC = P123; 
NET "sdram_dq8" IOSTANDARD = LVCMOS33; 
NET "sdram_dq9" LOC = P124; 
NET "sdram_dq9" IOSTANDARD = LVCMOS33; 
NET "sdram_dq10" LOC = P126; 
NET "sdram_dq10" IOSTANDARD = LVCMOS33; 
NET "sdram_dq11" LOC = P127; 
NET "sdram_dq11" IOSTANDARD = LVCMOS33; 
NET "sdram_dq12" LOC = P131; 
NET "sdram_dq12" IOSTANDARD = LVCMOS33; 
NET "sdram_dq13" LOC = P132; 
NET "sdram_dq13" IOSTANDARD = LVCMOS33; 
NET "sdram_dq14" LOC = P133; 
NET "sdram_dq14" IOSTANDARD = LVCMOS33; 
NET "sdram_dq15" LOC = P134; 
NET "sdram_dq15" IOSTANDARD = LVCMOS33; 
# bank sdram
NET "sdram_ba0" LOC =116; 
NET "sdram_ba0" IOSTANDARD = LVCMOS33; 
NET "sdram_ba1" LOC = P115; 
NET "sdram_ba1" IOSTANDARD = LVCMOS33; 
# address
NET "sdram_a0" LOC = P112; 
NET "sdram_a0" IOSTANDARD = LVCMOS33; 
NET "sdram_a1" LOC = P111; 
NET "sdram_a1" IOSTANDARD = LVCMOS33; 
NET "sdram_a2" LOC = P105; 
NET "sdram_a2" IOSTANDARD = LVCMOS33; 
NET "sdram_a3" LOC = P104; 
NET "sdram_a3" IOSTANDARD = LVCMOS33; 
NET "sdram_a4" LOC = P92; 
NET "sdram_a4" IOSTANDARD = LVCMOS33; 
NET "sdram_a5" LOC = P93; 
NET "sdram_a5" IOSTANDARD = LVCMOS33; 
NET "sdram_a6" LOC = P94; 
NET "sdram_a6" IOSTANDARD = LVCMOS33; 
NET "sdram_a7" LOC = P95; 
NET "sdram_a7" IOSTANDARD = LVCMOS33; 
NET "sdram_a8" LOC = P97; 
NET "sdram_a8" IOSTANDARD = LVCMOS33; 
NET "sdram_a9" LOC = P98; 
NET "sdram_a9" IOSTANDARD = LVCMOS33; 
NET "sdram_a10" LOC = P14; 
NET "sdram_a10" IOSTANDARD = LVCMOS33; 
NET "sdram_a11" LOC = P99; 
NET "sdram_a11" IOSTANDARD = LVCMOS33; 
NET "sdram_a12" LOC = P100; 
NET "sdram_a12" IOSTANDARD = LVCMOS33; 
# kontrol lainnya
NET "sdram_dqml" LOC = P121; 
NET "sdram_dqml" IOSTANDARD = LVCMOS33; 
NET "sdram_we" LOC = P120; 
NET "sdram_we" IOSTANDARD = LVCMOS33; 
NET "sdram_cas" LOC = P119; 
NET "sdram_cas" IOSTANDARD = LVCMOS33; 
NET "sdram_ras" LOC = P118; 
NET "sdram_ras" IOSTANDARD = LVCMOS33; 
NET "sdram_cs" LOC = P117; 
NET "sdram_cs" IOSTANDARD = LVCMOS33; 
NET "sdram_dqmh" LOC = P102; 
NET "sdram_dqmh" IOSTANDARD = LVCMOS33; 
NET "sdram_clk" LOC = P101; 
NET "sdram_clk" IOSTANDARD = LVCMOS33; 
# NET "sdram_cke" LOC = ; 
# NET "sdram_cke" IOSTANDARD = LVCMOS33; 

####### pin I/O J6 #######
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
NET "j6_1" LOC = P55; 
NET "j6_1" IOSTANDARD = LVCMOS33; 
