//! **************************************************************************
// Written by: Map K.31 on Thu May 08 15:58:18 2008
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "R7" LEVEL 1;
COMP "tx" LOCATE = SITE "M14" LEVEL 1;
COMP "lock" LOCATE = SITE "F12" LEVEL 1;
COMP "alarm" LOCATE = SITE "E12" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

